* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

/* Sidebar */
.sidebar {
  width: 280px;
  background: #0a0f16;
  color: #fff;
  padding: 25px 20px;
  position: fixed;
  height: 100vh;
  transition: 0.3s;
    overflow-y: auto;
}

.profile {
  text-align: center;
}

.profile img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #222;
}

.profile h2 {
  margin: 15px 0;
}

.social-icons i {
  margin: 0 6px;
  background: #1c2533;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons i:hover {
  background: #00bcd4;
}

/* Menu */
.menu {
  margin-top: 40px;
}

.menu a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  color: #ddd;
  text-decoration: none;
  border-radius: 6px;
  margin-bottom: 5px;
  transition: 0.3s;
}

.menu a:hover {
  background: #00bcd4;
  color: #000;
}

/* Hero */
.hero {
  margin-left: 280px;
  width: calc(100% - 280px);
  height: 100vh;
  background-image: url("./assets/images/profileImg1.jpeg");
    background-size: cover;
    background-position: center;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  color: #fff;
}

.overlay h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 28px;
}

#changing-text {
  color: #00e5ff;
  border-right: 2px solid #00e5ff;
  padding-right: 6px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% { border-color: transparent; }
  50% { border-color: #00e5ff; }
  100% { border-color: transparent; }
}



/* Mobile */
.menu-btn {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  font-size: 26px;
  background: #00bcd4;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

/* Dropdown */
.dropdown {
  margin-top: 5px;
}

.dropdown-btn {
  width: 100%;
  background: none;
  border: none;
  color: #ddd;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  font-size: 15px;
}

.dropdown-btn:hover {
  background: #00bcd4;
  color: #000;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  margin-left: 35px;
}

.dropdown-menu a {
  padding: 8px 0;
  color: #bbb;
  font-size: 14px;
  text-decoration: none;
}

.dropdown-menu a:hover {
  color: #00bcd4;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(180deg);
}


@media (max-width: 768px) {
  .sidebar {
    left: -280px;
    z-index: 999;
  }

  .sidebar.active {
    left: 0;
  }

  .hero {
    margin-left: 0;
    width: 100%;
  }

  .overlay {
    padding: 40px;
    text-align: center;
  }

  .menu-btn {
    display: block;
  }
}


/* About Section */
.about {
     margin-left: 280px;
  width: calc(100% - 280px);
  height: 100vh;
  padding: 60px 20px;
  margin-bottom: 40px;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  position: relative;
  margin-bottom: 15px;
}

.section-title::after {
  content: "";
  width: 60px;
  height: 3px;
  background: #00aaff;
  display: block;
  margin-top: 8px;
}

.section-desc {
    font-size: 16px;
    font-weight:600;    
  margin-bottom: 40px;
  color: #555;
}

.about-content {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

/* Image */
.about-img img {
  width: 300px;
  border-radius: 5px;
}

/* Info */
.about-info {
  margin-top: 50px;
}
.about-info h3 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.italic {
  font-style: italic;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #666;
  margin-bottom: 20px;
}

.info-grid {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

.info-grid ul {
  list-style: none;
}

.info-grid li {
    font-size: 15px;
    font-weight: 500;
  margin-bottom: 10px;
  color: #333;
}

.info-grid span {
  color: #00aaff;
  margin-right: 6px;
}

.bottom-text {
  color: #555;
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 768px) {

    .about {
    margin-left: 0;
        width: 100%;
    }
  .about-content {
    flex-direction: column;
  }

  .about-img img {
    width: 100%;
    max-width: 350px;
  }

  .info-grid {
    flex-direction: column;
    gap: 20px;
  }
}

/* Stats Section */
.stats {
   margin-left: 280px;
  width: calc(100% - 280px);
  height: 60vh;
  padding: 60px 20px;
  background: #fff;
    margin-top: 200px;
}

.stats-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
}

/* Icon */
.stat-box i {
  font-size: 40px;
  color: #00aaff;
  margin-bottom: 15px;
}

/* Number */
.stat-box h3 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Title */
.stat-box h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

/* Description */
.stat-box p {
  font-size: 14px;
  color: #777;
}

/* Tablet */
@media (max-width: 992px) {
    .stats {
    margin-left: 0;
        width: 100%;
    }
  .stats-container {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 576px) {
  .stats-container {

    grid-template-columns: repeat(2, 1fr);
  }
}



/* Skills Section */
.skills {
    margin-left: 280px;
  width: calc(100% - 280px);
  height: 80vh;
  padding: 60px 20px;
    background: #e1eff3;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}

.section-title::after {
  content: "";
  width: 50px;
  height: 3px;
  background: #00aaff;
  display: block;
  margin-top: 8px;
}

.section-desc {
  color: #555;
  margin-bottom: 40px;
}

/* Grid */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 40px;
}

/* Skill */
.skill-head {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 600;
}

.progress {
  background: #e6e6e6;
  height: 10px;
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0;
  background: #00aaff;
  transition: width 1.5s ease-in-out;
}

/* Responsive */
@media (max-width: 768px) {
    .skills {
    margin-left: 0;
        width: 100%;
    }
  .skills-grid {
    grid-template-columns: 1fr;
  }
}


/* resume Section */

.resume {
    margin-left: 280px;
  width: calc(100% - 280px);
  height: 80vh;
  padding: 60px 20px;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-desc {
  color: #555;
  margin-bottom: 40px;
  max-width: 700px;
}

.resume-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.resume-heading {
  font-size: 22px;
  margin-bottom: 20px;
}

.resume-column {
  position: relative;
  border-left: 2px solid #00aaff;
  padding-left: 25px;
}

.resume-item {
  position: relative;
  margin-bottom: 30px;
}

.resume-item h4 {
  font-size: 16px;
  font-weight: 700;
}

.resume-item h5 {
  font-size: 13px;
  color: #00aaff;
  margin: 6px 0;
}

.resume-item p {
  font-size: 14px;
  color: #555;
}

.resume-item ul {
  padding-left: 20px;
  margin-top: 10px;
}

.resume-item ul li {
  font-size: 14px;
  color: #555;
  margin-bottom: 6px;
}

.italic {
  font-style: italic;
}

.dot {
  position: absolute;
  left: -32px;
  top: 4px;
  width: 12px;
  height: 12px;
  background: #fff;
  border: 2px solid #00aaff;
  border-radius: 50%;
}

/* Responsive */
@media (max-width: 768px) {
    .resume {
    margin-left: 0;
        width: 100%;
    }
  .resume-grid {
    grid-template-columns: 1fr;
  }

  .resume-column {
    margin-bottom: 40px;
  }

}


/* Portfolio Section */
.portfolio {
    margin-top: 290px;
    margin-left: 280px;
  width: calc(100% - 280px);
  padding: 60px 20px;
  height: auto;
}



.portfolio h2 {
    text-align: left;
  font-size: 32px;
  margin-bottom: 10px;
}

.description {
    text-align: left;
    font-weight: 600;
    margin-bottom: 30px;
  color: #555;
  max-width: 700px;
}

/* Filters */
.filters {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  margin-bottom: 40px;
}

.filters button {
  border: none;
  background: transparent;
  padding: 10px 18px;
  margin: 0 5px;
  cursor: pointer;
  font-weight: bold;
  color: #555;
}

.filters button.active {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

/* Grid */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.item {
  overflow: hidden;
  border-radius: 10px;
}

.item img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.4s ease;
}

.item:hover img {
  transform: scale(1.08);
}

/* Responsive */
@media (max-width: 768px) {
    .portfolio {
    margin-left: 0;
        width: 100%;
        margin-top: 200px;
    }
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
    .portfolio {
    margin-left: 0;
        width: 100%;
        margin-top: 150px;
    }
  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}


/* Services Section */
.services-container {
    height: 80vh;
    margin-left: 280px;
  width: calc(100% - 280px);
  padding: 60px 20px;
}

.services {
  padding: 60px 0;
}

.section-title {
  font-size: 32px;
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
}

.section-title::after {
  content: "";
  width: 60px;
  height: 3px;
  background: #0d6efd;
  position: absolute;
  left: 0;
  bottom: -8px;
}

.section-desc {
  margin: 25px 0 50px;
  max-width: 900px;
  line-height: 1.7;
  color: #555;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.service-card {
  display: flex;
  gap: 20px;
}

.icon {
  width: 60px;
  height: 60px;
  background: #0d6efd;
  color: #fff;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
}

.service-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  color: #555;
}

/*  Responsive */
@media (max-width: 768px) {
    .services {
    margin-left: 0;
        width: 100%;
        align-items: center;
    }
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
    .services {
    margin-left: 0;
        width: 100%;
        align-items: center;
    }
  .services-grid {
     grid-template-columns: repeat(2, 1fr);
  }

  .service-card {
    flex-direction: column;
    align-items: flex-start;
  }
}



/* Testimonials Section */
.testimonials {
    margin-left: 280px;
    width: calc(100% - 280px);
    height: auto;
  padding: 70px 20px;
}

.testimonials-container {
  max-width: 1200px;
  margin: auto;
}

h2 {
    text-align: left;
  font-size: 32px;
  font-weight: 700;
}


.desc {
    font-size: 20px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 30px;
  max-width: 700px;
  margin-top: 10px;
  color: #555;
}

/* Grid */
.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Card */
.testimonial-card {
  position: relative;
}

/* Quote box */
.quote-box {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  position: relative;
}

.quote-box::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #fff transparent transparent;
}

.quote-box i {
  color: #0d6efd;
  font-size: 22px;
}

.quote-box p {
  margin: 15px 0;
  color: #444;
  font-style: italic;
  line-height: 1.6;
}

/* Author */
.author {
  margin-top: 35px;
    text-align: center;
}

.author img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.author h4 {
  font-size: 16px;
  font-weight: 700;
}

.author span {
  font-size: 14px;
  color: #777;
}

/* Responsive */
@media (max-width: 992px) {
  .testimonial-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .testimonial-grid {
    grid-template-columns: 1fr;
  }
}


/* Contact Section */
.contact-container {
    margin-left: 280px;
    width: calc(100% - 280px);
    height: auto;
    padding: 70px 20px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

.underline {
  width: 60px;
  height: 3px;
  background: #0d6efd;
  display: block;
  margin: 10px 0 20px;
}

.desc {
  max-width: 700px;
  margin-bottom: 40px;
  color: #555;
}

/* Layout */
.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* Left info */
.contact-info {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.info-box {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.info-box i {
  width: 40px;
  height: 40px;
  background: #e7f1ff;
  color: #0d6efd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-box h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.map iframe {
  width: 100%;
  height: 250px;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
}

/* Form */
.contact-form {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.row {
  display: flex;
  gap: 15px;
}

.contact-form button {
  background: #0d6efd;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #084298;
}

/* Footer */
footer {
    margin-left: 200px;
  text-align: center;
  padding: 25px;
  background: #eef6fb;
  font-size: 14px;
  margin-top: 40px;
}

footer span {
  display: block;
  margin-top: 5px;
  color: #666;
}

/* Responsive */
@media (max-width: 992px) {
  .contact-wrapper {
    grid-template-columns: 1fr;
  }

  .row {
    flex-direction: column;
  }
}