* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding-top: 90px;
  color: #000;
}

html {
  scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 40px;
  background: #fff;
  transition: all 0.3s ease;
  z-index: 999;
}

.navbar.shrink {
  height: 65px;
  padding: 0 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.navbar.shrink .logo h1 {
  font-size: 20px;
}


.logo {
  text-align: center;
  align-items: center;
}   

.logo h1 {
  letter-spacing: 6px;
    font-size: 35px;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
   
}

.logo p {
  font-size: 15px;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  font-weight: 400;
  letter-spacing: 5px;
}

.nav-links a {
  position: relative;
  margin: 0 13px;
  text-decoration: none;
  color: #000;
  font-size: 15px;
    font-weight: 500;
  padding-bottom: 5px;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}


.icons span {
  margin-left: 15px;
  font-size: 16px;
    cursor: pointer;
}

.icons a {
  margin-left: 15px;
  font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

/* BREADCRUMB */
.breadcrumb {
  background: #faf7f5;
  padding: 40px 60px;
  font-size: 14px;
}

/* CART EMPTY */
.cart-empty {
  min-height: 60vh;
  width: 100%;
  display: flex;
    flex-direction: column;
  justify-content: center;
    align-items: center;
  padding: 0 60px;
}

.cart-content {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.cart-empty h2 {
  font-size: 36px;
  letter-spacing: 6px;
  margin-bottom: 30px;
}

.btn {
  width: 220px;
  height: 55px;
  background: #000;
  color: #fff;
  border: none;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #222;
}


/* CART ITEMS WRAPPER */
#cartItems {
  width: 100%;
  max-width: 900px;
  margin-left: 40px;
}

/* EACH CART ITEM */
.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 15px 20px;
  margin-bottom: 20px;

  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* PRODUCT IMAGE */
.cart-item img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
}

/* PRODUCT NAME */
.cart-item h4 {
  flex: 1;
  font-size: 18px;
  font-weight: 500;
}

/* PRICE */
.cart-item span {
  font-size: 16px;
  font-weight: 600;
}

/* DELETE BUTTON */
.cart-item .delete-btn {
  font-size: 18px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
 .navbar {
        position: fixed;
        top: 0;
        z-index: 1000;
        width: 100%;
        display: flex;
    flex-direction: space-between;
    align-items: center;

    }
  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: #fff;
    text-align: center;
    padding: 20px 0;
    z-index: 1000;
  }

  .nav-links.active {
    display: flex;
  }

  .menu {
    display: block;
  }

  .cart-empty h2 {
    font-size: 24px;
    letter-spacing: 3px;
  }

  .cart-content {
    flex-direction: column;
  }

  .breadcrumb {
    padding: 30px 20px;
  }

  .cart-empty {
    padding: 0 20px;
  }
   #cartItems {
    margin-left: 0;
  }

  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-item img {
    width: 100%;
    height: auto;
  }
}
